<html ng-app="loginApp">
<head>
    <meta charset="UTF-8">
    <title> WebApp Demo </title>
    <script type="text/javascript" src="../js/lib/jquery-3.0.0.min.js"></script>
    <script type="text/javascript" src="../js/lib/angular.min.js"></script>
    <script type="text/javascript" src="../js/lib/materialize.js"></script>
    <script type="text/javascript" src="../js/config/angular-route.min.js"></script>

    <script type="text/javascript" src="../js/controller/ctrl-login.js"></script>

    <!--<script type="text/javascript" src="../js/app.js"></script>-->

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/webapp.css"/>
</head>
<body ng-controller="LoginController" ng-init="initCallback()">
    <!-- Navigation Menu -->
    <nav class="cyan" role="navigation">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s3 offset-s10 login-button">
                    <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="callFazioLogin()">
                        Login <i class="material-icons right icon-position"> perm_identity </i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navigation Menu-->
    <!-- APIs Listing -->
    <div class="row">
        <div class="input-field col s6">
            <i class="material-icons prefix">vpn_key</i>
            <input type="text" ng-model="clientId" ng-change="loadClientId()"/>
            <label>Client ID:</label>
            <span class="error-span" ng-show="errors.clientId">Campo Obrigatório</span>
        </div>
        <div class="input-field col s6">
            <i class="material-icons prefix">error</i>
            <input type="text" ng-model="clientSecret" ng-change="loadClientSecret()"/>
            <label>Client Secret:</label>
            <span class="error-span" ng-show="errors.clientSecret">Campo Obrigatório</span>
        </div>
    </div>

    <div class="row" ng-show="token">
        <div class="col s6"> Access Token: {{token}}</div>
    </div>

    <div class="row" ng-init="loadApi()" ng-show="token">
        <div class="col s12">
             <div class="card" ng-repeat="resource in api.resources">
                 <div class="card-content">
                     <span class="card-title"> {{resource.name}} </span>
                     <div class="row">
                         <table class="bordered highlight">
                             <thead>
                                <tr>
                                    <th data-field="method">Method</th>
                                    <th data-field="operation">Operation</th>
                                    <th data-field="basePath">Base Path</th>
                                </tr>
                             </thead>
                             <tbody ng-repeat="operation in resource.operations">
                                <td>{{operation.method}}</td>
                                <td>{{operation.path}}</td>
                                <td>{{api.basePath}}</td>
                                <td>
                                    <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="callOperation(api, resource, operation)">
                                        Call
                                    </button>
                                </td>
                             </tbody>
                         </table>
                     </div>
                 </div>
             </div>
        </div>
    </div>

    <div id="modal-call-result" class="modal">
        <div class="modal-content">
            <h4><i class="material-icons">info_outline</i> Call result </h4>
            <div class="divider"></div>
            <div class="row">
                <div class="col s12">{{ resultCall }}</div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect waves-light red" type="submit" name="action" ng-click="closeModalResult()">
                Close
            </button>
        </div>

    </div>
    <!-- End APIs Listing -->
</body>
</html>