.login-button {
    margin-top: 10px;
}

.icon-position {
    position: relative;
    bottom : 14px;
}

#modal-login {
    overflow-y: hidden;
    height: 360px;
}

.divider {
    margin-bottom: 10px;
}

.error-span {
   margin-left: 42px;
   color: red;
   font-size: 12px;
   font-family: sans-serif;
}